
.shuffle-box .shuffle-header {
    height: 3rem;
}
.shuffle-box .new-game{
    cursor: pointer;
    /* background-color: transparent;
    border: none;
    font-size: 20px; */
    float: left;
}

.shuffle-box .moves {
    background-color: transparent;
    /* border: none; */
    font-size: 20px;
    color: #CC5DE8;;
    font-weight: bolder;
    font-family: Pacifico, cursive;
    cursor: pointer;
    /* float: right; */

}

.new-game::before {
    content: url('/public/restart-32.png');
}


.shuffle-container {
    margin-left: 6rem;
    width: fit-content;
    height: 100%;
    display: grid;
    flex-direction: row;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.shuffle-square {
    cursor: pointer;
    width: 100px;
    height: 100px;
    background-color: #d080e4;
    margin: 5px;
    /* border: 1px solid black; */
    align-items: center;
    align-content: center;
    border-radius: 15px;
    /* animation: popup 0.75s; */
}

.active-square {
    background-color: rgb(232, 138, 69);
    /* padding: 15px;
    width: 100%; */
    animation: popup 0.75s;
}

.shuffle-button {
    background-color: transparent;
}

.shuffle-button:hover {
    background-color: transparent;
    border: none;
}

.shuffle-value {
    color: rgb(252, 254, 254);
    font-weight: bolder;
    font-size: 50px;
    font-family: Pacifico, cursive;
}

@keyframes popup {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.4);
    }

    60% {
        transform: scale(1.1);
    }

    70% {
        transform: scale(1.2);
    }

    80% {
        transform: scale(1);
    }

    90% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}